PORT=3000
MSSQL_CONNECTION_STRING=Server=(localdb)\\mssqllocaldb;Database=CommentAssistant;Trusted_Connection=True;MultipleActiveResultSets=true
MSSQL_SERVER=127.0.0.1
MSSQL_PORT=1433
MSSQL_DATABASE=CommentAssistant
MSSQL_USER=sa
MSSQL_PASSWORD=YourStrongPassword123!
MSSQL_ENCRYPT=false
MSSQL_TRUST_CERT=true
